/* Contêiner da lista de despesas */
.expenseListContainer {
    max-width: 50%;
    margin-left: 1rem;
    padding: 1rem;
    box-sizing: border-box;
  }
  
  /* Overlay do modal para cobrir toda a tela */
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Estilos do modal */
  .modal {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  /* Botão de fechar o modal */
  .closeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    color: #151515;
    font-size: 1.25rem;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
    opacity: 0.8;
  }
  
  .closeButton:hover {
    transform: scale(1.2);
    opacity: 1;
  }
  